interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":[{"rid":"/tfwopaque/pdumodel.Inlet:3.0.0/inlet.0","type":"pdumodel.Inlet:3.0.0"}]},"id":"inlet"},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":[{"rid":"/tfwopaque/pdumodel.Outlet:3.0.0/outlet.0","type":"pdumodel.Outlet:3.0.0"},{"rid":"/tfwopaque/pdumodel.Outlet:3.0.0/outlet.1","type":"pdumodel.Outlet:3.0.0"},{"rid":"/tfwopaque/pdumodel.Outlet:3.0.0/outlet.2","type":"pdumodel.Outlet:3.0.0"},{"rid":"/tfwopaque/pdumodel.Outlet:3.0.0/outlet.3","type":"pdumodel.Outlet:3.0.0"},{"rid":"/tfwopaque/pdumodel.Outlet:3.0.0/outlet.4","type":"pdumodel.Outlet:3.0.0"},{"rid":"/tfwopaque/pdumodel.Outlet:3[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack2.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":[{"rid":"/tfwopaque/pdumodel.Inlet:3.0.0/inlet.0","type":"pdumodel.Inlet:3.0.0"}]},"id":"inlet"},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":[{"rid":"/tfwopaque/pdumodel.Outlet:3.0.0/outlet.0","type":"pdumodel.Ou[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":{"label":"I1","plugType":"IEC
        60309 3P+N+E 6h 32A","namePlate":{"manufacturer":"","brand":"","model":"","partNumber":"","serialNumber":"<not
        set>","rating":{"voltage":"","current":"","frequency":"","power":""},"imageFileURL":""},"rating":{"current":32,"decimalCurrent":32.0,"minVoltage":380,"maxVoltage":415},"hasWaveformSupport":false,"isDC":false}},"id":0},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"label":"1","receptacleType":"IEC
        60320 C19","namePlate":{"manufacturer":"","brand":"","model":"","partNumber":"","serialNumber":"<not
        set>","rating":{"voltage":"","current":"","frequency":"","power":""},"imageFileURL":""},"rating":{"current":16,"decimalCurrent":16.0,"minVoltage":219,"maxVoltage":240},"isSwitchable":true,"isLatching":true,"maxRelayCycleCnt":100000,"hasWaveformSupport":false}},"id":1},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"label":"2","receptacleType":"IEC
        60320 C13","namePlate":{"manufacturer":"","brand":"","model":"","partNumber":"","serialNumber":"<not
        set>","rating":{"voltage":"","current":"","frequency":"","power":""},"imageFileURL":""},"rating":{"current":10,"decimalCurrent":10.0,"minVoltage":219,"maxVoltage":240},"isSwitchable":true,"isLatching":true,"maxRelayCycleCnt":100000,"hasWaveformS[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":{"name":""}},"id":0},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"name":"","startupState":3,"usePduCycleDelay":true,"cycleDelay":10,"nonCritical":false,"sequenceDelay":0}},"id":1},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"name":"","startupState":3,"usePduCycleDelay":true,"cycleDelay":10,"nonCritical":false,"sequenceDelay":0}},"id":2},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"name":"''''","startupState":3,"usePduCycleDelay":true,"cycleDelay":10,"nonCritical":false,"sequenceDelay":0}},"id":3},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"name":"cpu21-24","startupState":3,"usePduCycleDelay":true,"cycleDelay":10[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":[{"label":"","line":0,"nodeId":1,"voltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P0Voltage","type":"sensors.NumericSensor:4.0.5"},"voltageLN":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P0VoltageLN","type":"sensors.NumericSensor:4.0.5"},"current":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P0Current","type":"sensors.NumericSensor:4.0.5"},"peakCurrent":null,"activePower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P0ActivePower","type":"sensors.NumericSensor:4.0.5"},"reactivePower":null,"apparentPower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P0ApparentPower","type":"sensors.NumericSensor:4.0.5"},"powerFactor":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P0PowerFactor","type":"sensors.NumericSensor:4.0.5"},"phaseAngle":null,"displacementPowerFactor":null,"activeEnergy":{"rid":"/tfwopaque/sensors.AccumulatingNumericSensor:2.0.5/I0P0ActiveEnergy","type":"sensors.AccumulatingNumericSensor:2.0.5"},"apparentEnergy":null,"residualCurrent":null,"residualACCurrent":null,"residualDCCurrent":null,"crestFactor":null,"voltageThd":null,"currentThd":null,"residualCurrentStatus":null},{"label":"","line":1,"nodeId":2,"voltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P1Voltage","type":"sensors.NumericSensor:4.0.5"},"voltageLN":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P1VoltageLN","type":"sensors.NumericSensor:4.0.5"},"current":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P1Current","type":"sensors.NumericSensor:4.0.5"},"peakCurrent":null,"activePower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0P1ActivePower","type":"sensors.NumericSensor:4.0.5"}[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":{"voltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0Voltage","type":"sensors.NumericSensor:4.0.5"},"current":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0Current","type":"sensors.NumericSensor:4.0.5"},"peakCurrent":null,"residualCurrent":{"rid":"/tfwopaque/pdumodel.TypeBResidualCurrentNumericSensor:1.0.4/I0ResidualCurrent","type":"pdumodel.TypeBResidualCurrentNumericSensor:1.0.4"},"residualACCurrent":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0ResidualACCurrent","type":"sensors.NumericSensor:4.0.5"},"residualDCCurrent":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0ResidualDCCurrent","type":"sensors.NumericSensor:4.0.5"},"activePower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0ActivePower","type":"sensors.NumericSensor:4.0.5"},"reactivePower":null,"apparentPower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0ApparentPower","type":"sensors.NumericSensor:4.0.5"},"powerFactor":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0PowerFactor","type":"sensors.NumericSensor:4.0.5"},"displacementPowerFactor":null,"activeEnergy":{"rid":"/tfwopaque/sensors.AccumulatingNumericSensor:2.0.5/I0ActiveEnergy","type":"sensors.AccumulatingNumericSensor:2.0.5"},"apparentEnergy":null,"unbalancedCurrent":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0UnbalancedCurrent","type":"sensors.NumericSensor:4.0.5"},"unbalancedLineLineCurrent":null,"unbalancedVoltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0UnbalancedVoltage","type":"sensors.NumericSensor:4.0.5"},"unbalancedLineLineVoltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0UnbalancedLineLineVoltage","type":"sensors.NumericSensor:4.0.5"},"lineFrequency":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/I0LineFrequency","type":"sensors.NumericSensor:4.0.5"},"phaseAngle":null,"crestFactor":null,"voltageThd":null,"currentThd":null,"powerQuality":null,"surgeProtectorStatus":null,"residualCurrentStatus":{"rid":"/tfwopaque/pdumodel.ResidualCurrentStateSensor:2.0.5/I0ResidualCurrentState","type":"pdumodel.ResidualCurrentStateSensor:2.0.5"}}},"id":0},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"voltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O0Voltage","type":"sensors.NumericSensor:4.0.5"},"current":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O0Current","type":"sensors.NumericSensor:4.0.5"},"peakCurrent":null,"maximumCurrent":null,"unbalancedCurrent":null,"activePower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O0ActivePower","type":"sensors.NumericSensor:4.0.5"},"reactivePower":null,"apparentPower":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O0ApparentPower","type":"sensors.NumericSensor:4.0.5"},"powerFactor":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O0PowerFactor","type":"sensors.NumericSensor:4.0.5"},"displacementPowerFactor":null,"activeEnergy":{"rid":"/tfwopaque/sensors.AccumulatingNumericSensor:2.0.5/O0ActiveEnergy","type":"sensors.AccumulatingNumericSensor:2.0.5"},"apparentEnergy":null,"phaseAngle":null,"lineFrequency":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O0LineFrequency","type":"sensors.NumericSensor:4.0.5"},"crestFactor":null,"voltageThd":null,"currentThd":null,"inrushCurrent":null,"outletState":{"rid":"/tfwopaque/sensors.StateSensor:4.0.5/O0OutletState","type":"sensors.StateSensor:4.0.5"}}},"id":1},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"voltage":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O1Voltage","type":"sensors.NumericSensor:4.0.5"},"current":{"rid":"/tfwopaque/sensors.NumericSensor:4.0.5/O1Current","type":"sensors.NumericSensor:4.0.5"},"peakCurrent":null,"maximumCurrent":null,"unbalancedCurrent":null,"activePower":{"rid":"/tfwopaque/sensors.NumericSensor:4[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":{"type":{"readingtype":0,"type":1,"unit":1},"decdigits":0,"accuracy":0.0,"resolution":1.0,"tolerance":0.0,"noiseThreshold":0.0,"range":{"lower":0.0,"upper":866.02540378443861},"thresholdCaps":{"hasUpperCritical":true,"hasUpperWarning":true,"hasLowerWarning":true,"hasLowerCritical":true}}},"id":0},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"type":{"readingtype":0,"type":1,"unit":1},"decdigits":0,"accuracy":0.0,"resolution":1.0,"tolerance":0.0,"noiseThreshold":0.0,"range":{"lower":0.0,"upper":500.0},"thresholdCaps":{"hasUpperCritical":true,"hasUpperWarning":true,"hasLowerWarning":true,"hasLowerCritical":true}}},"id":1},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"type":{"readingtype":0,"type":2,"unit":2},"decdigits":3,"accuracy":0.0,"resolut[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{"jsonrpc":"2.0","result":{"responses":[{"json":{"jsonrpc":"2.0","result":{"_ret_":{"timestamp":1662990829,"available":true,"status":{"aboveUpperCritical":false,"aboveUpperWarning":false,"belowLowerWarning":false,"belowLowerCritical":false},"valid":true,"value":399.73136216714346}},"id":0},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"timestamp":1662990829,"available":true,"status":{"aboveUpperCritical":false,"aboveUpperWarning":false,"belowLowerWarning":false,"belowLowerCritical":false},"valid":true,"value":230.9}},"id":1},"statcode":200},{"json":{"jsonrpc":"2.0","result":{"_ret_":{"timestamp":1662990829,"available":true,"status":{"aboveUpperCritical":false,"aboveUpperWarning":false,"belowLowerWarning":false,"belowLowerCritical":false},[...]
[...]
