interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack1.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": [ { "rid": "/tfwopaque/pdumodel.Inlet:2.0.4/inlet.0",
        "type": "pdumodel.Inlet:2.0.4" } ] }, "id": "inlet" }, "statcode": 200 },
        { "json": { "jsonrpc": "2.0", "result": { "_ret_": [ { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.0",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.1",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.2",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.3",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": [ { "rid": "/tfwopaque/pdumodel.Inlet:2.0.4/inlet.0",
        "type": "pdumodel.Inlet:2.0.4" } ] }, "id": "inlet" }, "statcode": 200 },
        { "json": { "jsonrpc": "2.0", "result": { "_ret_": [ { "rid"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": { "label": "I1", "plugType": "IEC 60309 3P+N+E
        6h 32A", "namePlate": { "manufacturer": "", "brand": "", "model": "", "partNumber":
        "", "serialNumber": "<not set>", "rating": { "voltage": "", "current": "",
        "frequency": "", "power": "" }, "imageFileURL": "" }, "rating": { "current":
        32, "decimalCurrent": 32.000000, "minVoltage": 380, "maxVoltage": 415 } }
        }, "id": 0 }, "statcode": 200 }, { "json": { "jsonrpc": "2.0", "result": {
        "_ret_": { "label": "1", "receptacleType": "IEC 60320 C19", "namePlate": {
        "manufacturer": "", "brand": "", "model": "", "partNumber": "", "serialNumber":
        "<not set>", "rating": { "voltage": "", "current": "", "frequency": "", "power":
        "" }, "imageFileURL": "" }, "rating": { "current": 16, "decimalCurrent": 16.000000,
        "minVoltage": 219, "maxVoltage": 240 }, "isSwitchable": true, "isLatching":
        true, "maxRelayCycleCnt": 100000 } }, "id": 1 }, "statcode": 200 }, { "json":
        { "jsonrpc": "2.0", "result": { "_ret_": { "label": "2", "receptacleType":
        "IEC 60320 C13", "namePlate": { "manufacturer": "", "brand": "", "model":
        "", "partNumber": "", "serialNumber": "<not set>", "rating": { "voltage":
        "", "current": "", "frequency": "", "power": "" }, "imageFileURL": "" }, "rating":
        { "current": 10, "decimalCurrent": 10.000000, "minVoltage": 219, "maxVoltage":
        240 }, "isSwit[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": { "name": "" } }, "id": 0 }, "statcode": 200 },
        { "json": { "jsonrpc": "2.0", "result": { "_ret_": { "name": "", "startupState":
        3, "usePduCycleDelay": true, "cycleDelay": 10, "nonCritical": false, "sequenceDelay":
        0 } }, "id": 1 }, "statcode": 200 }, { "json": { "jsonrpc": "2.0", "result":
        { "_ret_": { "name": "", "startupState": 3, "usePduCycleDelay": true, "cycleDelay":
        10, "nonCritical": false, "sequenceDelay": 0 } }, "id": 2 }, "statcode": 200
        }, { "json": { "jsonrpc": "2.0", "result": { "_ret_": { "name": "''''", "startupState":
        3, "usePduCycleDelay": true, "cycleDelay": 10, "nonCritical": false, "sequenceDelay":
        0 } }, "id": 3 }, "statcode": 200 }, { [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": [ { "label": "", "line": 0, "nodeId": 1, "voltage":
        { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P0Voltage", "type": "sensors.NumericSensor:4.0.3"
        }, "voltageLN": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P0VoltageLN",
        "type": "sensors.NumericSensor:4.0.3" }, "current": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P0Current",
        "type": "sensors.NumericSensor:4.0.3" }, "peakCurrent": null, "activePower":
        null, "reactivePower": null, "apparentPower": null, "powerFactor": null, "phaseAngle":
        null, "displacementPowerFactor": null, "activeEnergy": null, "apparentEnergy":
        null, "residualCurrent": null, "residualDCCurrent": null, "crestFactor": null,
        "residualCurrentStatus": null }, { "label": "", "line": 1, "nodeId": 2, "voltage":
        { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P1Voltage", "type": "sensors.NumericSensor:4.0.3"
        }, "voltageLN": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P1VoltageLN",
        "type": "sensors.NumericSensor:4.0.3" }, "current": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P1Current",
        "type": "sensors.NumericSensor:4.0.3" }, "peakCurrent": null, "activePower":
        null, "reactivePower": null[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdured.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": { "type": { "readingtype": 0, "type": 1, "unit":
        1 }, "decdigits": 0, "accuracy": 0.000000, "resolution": 1.000000, "tolerance":
        0.000000, "noiseThreshold": 0.000000, "range": { "lower": 0.000000, "upper":
        460.000000 }, "thresholdCaps": { "hasUpperCritical": true, "hasUpperWarning":
        true, "hasLowerWarning": true, "hasLowerCritical": true } } }, "id": 0 },
        "statcode": 200 }, { "json": { "jsonrpc": "2.0", "result": { "_ret_": { "type":
        { "readingtype": 0, "type": 1, "unit": 1 }, "decdigits": 0, "accuracy": 0.000000,
        "resolution": 1.000000, "tolerance": 0.000000, "noiseThreshold": 0.000000,
        "range": { "lower": 0.000000, "upper": 264.000000 }, "thresholdCaps": { "hasUpperCritical":
        true, "hasUpperWarning": true, "hasLowerWarning": true, "hasLowerCritical":
        true } } }, "id": 1 }, [...]
[...]
