interactions:
- request:
    body: '{"jsonrpc": "2.0", "method": "performBulk", "params": {"requests": [{"rid":
      "/model/pdu/0", "json": {"jsonrpc": "2.0", "method": "getInlets", "id": "inlet"}},
      {"rid": "/model/pdu/0", "json": {"jsonrpc": "2.0", "method": "getOutlets", "id":
      "outlet"}}, {"rid": "/model/peripheraldevicemanager", "json": {"jsonrpc": "2.0",
      "method": "getDeviceSlots", "id": "device"}}]}, "id": 1}'
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": [ { "rid": "/tfwopaque/pdumodel.Inlet:2.0.4/inlet.0",
        "type": "pdumodel.Inlet:2.0.4" } ] }, "id": "inlet" }, "statcode": 200 },
        { "json": { "jsonrpc": "2.0", "result": { "_ret_": [ { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.0",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.1",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.2",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.3",
        "type": "pdumodel.Outlet:2.1.5" }, { "rid": "/tfwopaque/pdumodel.Outlet:2.1.5/[...]
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "performBulk", "params": {"requests": [{"rid":
      "/tfwopaque/pdumodel.Inlet:2.0.4/inlet.0", "json": {"jsonrpc": "2.0", "method":
      "getMetaData", "id": 0}}, {"rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.0",
      "json": {"jsonrpc": "2.0", "method": "getMetaData", "id": 1}}, {"rid": "/tfwopaque/pdumodel.Outlet:2.1.5/outlet.1",
      "json": {"jsonrpc": "2.0", "method": "getMetaData", "id": 2}}, {"rid": "/tfwopaque/pdumodel.Outlet:2.1.[...]
[...]
- request:
    body: '{"jsonrpc": "2.0", "method": "performBulk", "params": {"requests": [{"rid":
      "/tfwopaque/pdumodel.Inlet:2.0.4/inlet.0", "json": {"jsonrpc": "2.0", "method":
      "getPoles", "id": 0}}]}, "id": 18}'
    headers:
      Content-Type:
      - application/json-rpc
    method: POST
    uri: https://pdublue.rack0.htc.inm7.de/bulk
  response:
    body:
      string: '{ "jsonrpc": "2.0", "result": { "responses": [ { "json": { "jsonrpc":
        "2.0", "result": { "_ret_": [ { "label": "", "line": 0, "nodeId": 1, "voltage":
        { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P0Voltage", "type": "sensors.NumericSensor:4.0.3"
        }, "voltageLN": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P0VoltageLN",
        "type": "sensors.NumericSensor:4.0.3" }, "current": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P0Current",
        "type": "sensors.NumericSensor:4.0.3" }, "peakCurrent": null, "activePower":
        null, "reactivePower": null, "apparentPower": null, "powerFactor": null, "phaseAngle":
        null, "displacementPowerFactor": null, "activeEnergy": null, "apparentEnergy":
        null, "residualCurrent": null, "residualDCCurrent": null, "crestFactor": null,
        "residualCurrentStatus": null }, { "label": "", "line": 1, "nodeId": 2, "voltage":
        { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P1Voltage", "type": "sensors.NumericSensor:4.0.3"
        }, "voltageLN": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P1VoltageLN",
        "type": "sensors.NumericSensor:4.0.3" }, "current": { "rid": "/tfwopaque/sensors.NumericSensor:4.0.3/I0P1Current",
        "type": "sensors.NumericSensor:4.0.3" }, "peakCurrent": null, "activePower":
        null, "reactivePower": null[...]
[...]
